<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>A Multiplayer Game</title>
    <link rel="stylesheet" type="text/css" href="client/css/style.css">
  </head>
  <body>
    <header>
      <h1>Tankz</h1>
    </header>
    <main>
      <div class="splashscreen" id="splashscreen">
        <h1 class="splashscreen-header">Welcome to tanks!</h1>
        <input type="text" class="splashscreen-input" id="splashscreen-input" placeholder="Name">

      </div>
      <div>
        <canvas id="canvas"></canvas>
        <div id="sidebar" class="wrapper">
          <div class="scrollbox">
            <ul id="textbox" class="messages"></ul>
          </div>
          <input type="text" placeholder="Console" id="console" class="consoleInput">
        </div>
      </div>
      
    </main>
    <footer>
      <button id="reset-button">Reset</button>
    </footer>
    
    
    

  </body>
  
  <script src="/socket.io/socket.io.js"></script>
  <script src='/dist/client.bundle.js'></script>
  
</html>